static/portal/jade/01-homepage.jade
extends ../layout/main

append config
    - var Page = {title:"Welcome to 2Connect",type:"home"}
    - var Meta = {description:"Welcome to 2Connect",keywords:""}
    - var Footer = {heading:"2Connect.net"}
    - var Modules = {imagePodNavHeading: true}
    - var EntityCarousel = {mapLink: true}
block contentInner
    .hero-wrapper
        .owl-carousel
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
                            a.ui-button.big.icon-phone(href="#") Call Me Back
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
                            a.ui-button.big.icon-phone(href="#") Call Me Back

    // This is a sample content holder
    .content-wide-wrapper
        //Start content here

templates/portal/01-homepage.html
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>Welcome to 2Connect</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to 2Connect</title>
    <meta name="description" content="Welcome to 2Connect">
    <meta name="keywords" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=1120">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- build:css assets/css/all.css-->
    <link rel="stylesheet" href="assets/css/normalize_custom.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/pikaday.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild-->
    <!-- build:js assets/js/modernizr-2.6.2.min.js-->
    <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- endbuild-->
    
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start .page-header-->
      <div class="page-header">
        
        <!-- Start site header-->
        <header class="header">
          <div class="header-main">
            <div class="logo"><a href="index.html"><img src="assets/img/2connect_logo.svg" class="svg"></a></div><a href="#" class="menu-button middle-items"><span class="menu-wrapper"><span class="menu-global menu-top"></span><span class="menu-global menu-middle"></span><span class="menu-global menu-bottom"></span></span></a>
          </div>
          <div class="nav-wrapper has-underlay">
            <nav class="nav">
              <ul class="main-nav">
                <!--li.active-->
                <li><a href="#">Account Details</a>
                  <ul>
                    <li><a href="#">Contacts</a></li>
                  </ul>
                </li>
                <li><a href="#">Services</a>
                  <ul>
                    <li><a href="#">Service Details</a></li>
                    <li><a href="#">Request New Service</a></li>
                  </ul>
                </li>
                <li><a href="#">Billing</a>
                  <ul>
                    <li><a href="#">Transaction History</a></li>
                  </ul>
                </li>
                <li><a href="#">Contact 2Connect</a></li>
              </ul>
              <ul class="secondary-nav">
                <li class="search">
                  <form id="search" action="#" method="post">
                    <div class="label">
                      <label id="search-label" for="search-terms"></label>
                    </div>
                    <div class="input">
                      <input id="search-terms" type="text" name="search-terms" placeholder="Enter search terms...">
                    </div>
                  </form>
                </li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Contact Us</a></li>
                <li class="login"><a href="#">Logout</a></li>
              </ul>
            </nav>
          </div>
        </header>
      </div>
      <!-- End .page-header-->
      <div class="content-main-wrapper">
        <div class="hero-wrapper">
          <div class="owl-carousel">
            <div class="item"><img src="assets/img/placeholders/home-hero.jpg" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="assets/img/placeholders/home-hero.jpg" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a><a href="#" class="ui-button big icon-phone">Call Me Back</a></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="assets/img/placeholders/home-hero.jpg" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="assets/img/placeholders/home-hero.jpg" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a><a href="#" class="ui-button big icon-phone">Call Me Back</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- This is a sample content holder-->
        <div class="content-wide-wrapper">
          <!--Start content here-->
          
          
          
        </div>
      </div>
      <!-- Start .page-footer-->
      <div class="page-footer">
        <footer class="footer">
          <ul class="footer-main-nav">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
          <div class="stay-connected">
            <h3>Stay connected</h3>
            <ul>
              <li><a href="#" class="icon-facebook-circled"></a></li>
              <li><a href="#" class="icon-linkedin-circled"></a></li>
              <li><a href="#" class="icon-instagram19"></a></li>
              <li><a href="#" class="icon-twitter-circled"></a></li>
              <li><a href="#" class="icon-youtube30"></a></li>
            </ul>
          </div>
          <div class="newsletter-form-wrapper">
            <h3>Subscribe to newsletter</h3>
            <form action="#">
              <input type="text" placeholder="Enter email address.">
              <input type="button" value="Go">
            </form>
          </div>
          <div class="copy-right">
            <p>&copy; 2015 2ConnectBahrain. All rights reserved</p>
          </div>
        </footer>
      </div>
      <!-- End .page-footer-->
    </div>
    <!-- End .master-->
    <!-- Start scripts include-->
    <!-- build:js assets/js/vendor.js-->
    <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="assets/js/vendor/owl.carousel.min.js"></script>
    <script src="assets/js/vendor/jquery-validate.js"></script>
    <script src="assets/js/vendor/jquery-inputmask.js"></script>
    <script src="assets/js/vendor/magnific-popup.js"></script>
    <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="assets/js/vendor/Chart.js"></script>
    <script src="assets/js/vendor/Chart.Line.js"></script>
    <script src="assets/js/vendor/moment.js"></script>
    <script src="assets/js/vendor/pikaday.js"></script>
    <!-- endbuild-->
    <!-- build:js assets/js/custom.js-->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- endbuild-->
    <!-- End scripts include-->
  </body>
</html>
