templates/portal/account_details.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Account Details{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block-->
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
        <!-- Start header_main block-->
        <!-- End header_main block-->

      <div class="content-main-wrapper">
        {% block content_main %}
        <div class="content-main">
          <div class="content">
            <h1>Account Details</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
       {% endblock %}

        <div class="content-main">
          {% block content_section %}
          <section class="acc_section">
            <div class="content">
              <div class="account-field">
                        <div class="table account-table">
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">Client Name</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="{{account.accountname}}" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">Address</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="{{account.bill_street}}" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">PO Box</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="{{account.bill_pobox}}" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">Email</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="{{account.email1}}" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">Contact number</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="{{account.phone}}" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="row_data">
                            <div class="cell_data_acc row_title title">Contact Name</div>
                            <div class="cell_data_acc txt_box">
                              <input type="text" placeholder="Enter details" value="" disabled class="txt_box_border">
                            </div>
                            <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="submit_link add_contact"><a href="#">Add Contact</a></div>
              </div>
            </div>
          </section>
        {% endblock %}
        </div>
        <!-- End content main -->

       <!-- Start featured_list block -->
       {% block featured_list %}
       {% endblock %}
       <!-- End featured_list block -->

      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->
    
    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>

static/portal/jade/account_details.jade
extends ../layout/main

append config
	- var Page = {title:"Account Details",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	div.content-main
		.content
			h1 Account Details
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	div.content-main
		section.acc_section
			.content
				.account-field
					+acc_tbl([
						{'title': 'Client Name', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Address', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'PO Box', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Email', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Contact number', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Contact Name', 'txt_box': '', 'btn':'Edit'	}
						])

						
		aside
			.quick_links
				+quick_links_box()
