templates/portal/billing.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Billing{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        <div class="content-main">
          {% block content_section %}
          <div class="content">
            <h1>Billing</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
              Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
              Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
              Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
              Praesent non nunc suscipit, faucibus magna at, sodales eros.
            </p>
          </div>
                  <div class="table bill_table">
                    <div class="row_head">
                      <div class="cell_head chkbox"> </div>
                      <div class="cell_head sid">Service ID</div>
                      <div class="cell_head sname">Service Name</div>
                      <div class="cell_head date">Date</div>
                      <div class="cell_head out_bill">Outstanding Bill</div>
                      <div class="cell_head des_amt">Desired Amount</div>
                      <div class="cell_head view">&nbsp;&nbsp;&nbsp;Action</div>
                    </div>
                    {% for inv in invoice %}
                    <div class="row_data">
                      <div class="cell_data chkbox no_border">
                        <input type="checkbox" id="invchkamt_{{forloop.counter}}_id" name="invchkamt_{{forloop.counter}}" value="{{inv.id}}@@@{{inv.invoice_no}}@@@{{inv.subject}}" class="hide"><span class="chkbox_icon icon-square93"></span>
                      </div>
                      <div id="invno_{{forloop.counter}}_id" class="cell_data sid">{{inv.invoice_no}}</div>
                      <div id="invnme_{{forloop.counter}}_id" title="{{inv.subject}}" class="cell_data sname">{{inv.subject}}</div>
                      <div id="invdue_{{forloop.counter}}_id" class="cell_data date">{{inv.duedate}}</div>
                      <div id="invamt_{{forloop.counter}}_id" class="cell_data out_bill">{{inv.balance|floatformat:2}}</div>
                      <div class="cell_data des_amt">
                        <input type="text" id="invdesamt_{{forloop.counter}}_id" name="invdesamt_{{forloop.counter}}" placeholder="enter amount" class="bil_amt txt_box_border">
                      </div>
                      <div class="cell_data view no_border"><a target="_blank" href="/portal/invoice/{{inv.id}}/" class="view_detail">View Details</a></div>
                      <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="submit_link billing"><a href="#billing-popup" id="pay_popup" class="lightbox-link">Make Payment</a></div>
         {% endblock %}
        </div>
        <!-- End content main -->

        <!-- Start quick_links block -->
        {% block quick_links %}
        {% endblock %}
        <!-- End quick_links block -->


        {% block popup %}

        <div id="billing-popup" class="popup_billing white-popup mfp-hide">
                  <form name="payment_gateway_form" method="POST" action="/portal/paymentsubmit/{{accountid}}/">{% csrf_token %}
                  <div class="table popup">
                    <div class="popup_container">
                      <h1>Online Payment</h1>
                      <div id="popup_data"></div>
                      <div class="button">
                        <div class="cancel"><a href="#" class="mfp-close">Cancel</a></div>
                        <!--
                        <div class="save paynow">
                          <a href="#">Pay Now</a>
                        </div>
                        -->
                        <input type="hidden" id="invoiceArray" name="invoiceArray" value="" />
                        <input type="hidden" id="invoiceCount" name="invoiceCount" value="{{invoice|length}}" />
                        <button class="save paynow" type="submit" value="Submit">Pay Now</button>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
        	  </form>
        </div>
        {% endblock %}

       <!-- Start featured_list block -->
       <!-- End featured_list block -->

      </div>
      <!-- End content main wrapper-->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->

    {% block custom_js %}
     <script type="text/javascript">

         $('#pay_popup').click(function(){
             var invArr = [];
	     var max_count = $('#invoiceCount').val();
             var inp_htm = '';
             for (var i=1; i<=max_count; i++){
                 var pay_amt = '';
                 var inv_chk_id = '#invchkamt_'+i+'_id';
		 var inv_desamt_id = '#invdesamt_'+i+'_id';
                 var inv_amt_id = '#invamt_'+i+'_id';
                 var inv_nme_id = '#invnme_'+i+'_id';
                 if($(inv_chk_id).attr('checked')){
                   if($(inv_desamt_id).val() == '' || $(inv_desamt_id).val() == 'undefined'){
                     pay_amt = $(inv_amt_id).text();
                   }else if(isNaN($(inv_desamt_id).val()) == true){
                       inp_htm += '<div class="row_data">'+
                                  '<span style="color:red">Enter valid amount !!!</span>'+
                                  '</div>';
                   }else{
                     pay_amt = $(inv_desamt_id).val();
                   }
                   inp_htm += '<div class="row_data">'+
                                 '<div class="cell_data s_id">'+$(inv_nme_id).text()+'</div>'+
                                 '<div class="cell_data s_name">BHD '+pay_amt+'</div>'+
                                 '<div class="clearfix"></div>'+
                               '</div>';
                   invArr.push("{'inv_id':'"+$(inv_chk_id).val()+"', 'des_amt':'"+pay_amt+"'}");
                 }
             }
             $('#invoiceArray').val(invArr);
             $('#popup_data').html(inp_htm)
             return false;
         });


     </script>
    {% endblock %}

  </body>
</html>

static/portal/jade/billing.jade
extends ../layout/main

append config
	- var Page = {title:"Billing",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Billing
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.
		+bill_table([
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 }
			])

	+featured-list([
				{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
				{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
				{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
			])
			
	#billing-popup.popup_billing.white-popup.mfp-hide
		+popup_billing([
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' }
			])
