static/portal/jade/contacts.jade
extends ../layout/main

append config
	- var Page = {title:"Contacts",type:"home"}
	- var Meta = {description:"Contacts",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.contacts_page
		.content-main
			.content
				h1 Contacts
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		.content-main
			section.acc_section
				.content
					+contacts_tbl([
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'}
						])

			aside
				.quick_links
					+quick_links_box()

	#contacts-popup.popup_contacts.white-popup.mfp-hide
		+popup_contacts([
			{'class':'name', 'label':'Contact name', 'value':''},
			{'class':'title', 'label':'Title', 'value':''},
			{'class':'address', 'label':'Address', 'value':''},
			{'class':'po_box', 'label':'PO Box', 'value':''},
			{'class':'telephone', 'label':'Telephone', 'value':''},
			{'class':'mobile', 'label':'Mobile', 'value':''},
			{'class':'fax', 'label':'Fax', 'value':''},
			{'class':'email', 'label':'Email', 'value':''}
		])

templates/portal/contacts.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
   <!-- Start title block -->
    <title>{% block title %}Contacts{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        <div class="contacts_page">
         {% block content_main %}
          <div class="content-main">
            <div class="content">
              <h1>Contacts</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
         {% endblock %}

          <!-- Start content main -->
          <div class="content-main">
            {% block content_section %}
            <section class="acc_section">
              <div class="content">
                        <div class="table contacts_table">
                          <div class="row_head">
                            <div class="cell_head name">Name</div>
                            <div class="cell_head title">Title</div>
                            <div class="cell_head tel">Telephone</div>
                            <div class="cell_head mob">Mobile</div>
                            <div class="cell_head email">Email</div>
                            <div class="cell_head edit">Action</div>
                            <div class="cell_head delete"></div>
                          </div>
                          {% for contact in contacts %}
                          <div class="row_data">
                            <div class="cell_data name">{{contact.firstname}}&nbsp;{{contact.lastname}}</div>
                            <div class="cell_data title">{{contact.title}}</div>
                            <div class="cell_data tel">{{contact.phone}}</div>
                            <div class="cell_data mob">{{contact.mobile}}</div>
                            <div class="cell_data email">{{contact.email}}</div>
                            <div class="cell_data edit"><a href="/portal/info/contact/edit/{{contact.id}}/" class="rm_a">Edit</a></div>
                            <div class="cell_data delete"><a href="javascript:void(0)" class="rm_a">Delete</a></div>
                          </div>
                          <div class="clearfix"></div>
                          {% endfor %}
                        </div>
                        <div class="submit_link contacts"> <a href="#contacts-popup">Add New Contact</a></div>
              </div>
            </section>
            {% endblock %}
	    <!-- Start quick_links block -->
            <!-- End quick_links block -->
          </div>
        </div>
        <!-- End content main -->

        {% block popup %}
        <div id="contacts-popup" class="popup_contacts white-popup mfp-hide">
                 <form name="contact_form" method="POST" action="/portal/submit/contact/add/{{accountid}}/">{% csrf_token %}
                  <div class="table popup">
                    <div class="popup_container">
                      <h1>Add new contacts</h1>
                      <div class="row_data name">
                        <div class="cell_data label">First name</div>
                        <div class="cell_data text_box">
                          <input name="fname" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data name">
                        <div class="cell_data label">Last name</div>
                        <div class="cell_data text_box">
                          <input name="lname" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data title">
                        <div class="cell_data label">Title</div>
                        <div class="cell_data text_box">
                          <input name="title" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data address">
                        <div class="cell_data label">Address</div>
                        <div class="cell_data text_box">
                          <input name="address" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data po_box">
                        <div class="cell_data label">PO Box</div>
                        <div class="cell_data text_box">
                          <input name="pobox" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data telephone">
                        <div class="cell_data label">Telephone</div>
                        <div class="cell_data text_box">
                          <input name="phone" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data mobile">
                        <div class="cell_data label">Mobile</div>
                        <div class="cell_data text_box">
                          <input name="mobile" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data fax">
                        <div class="cell_data label">Fax</div>
                        <div class="cell_data text_box">
                          <input name="fax" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data email">
                        <div class="cell_data label">Email</div>
                        <div class="cell_data text_box">
                          <input name="email" type="text" placeholder="Enter details" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="button"><span><a href="#" class="mfp-close ui-button big">Cancel</a></span><span><button class="ui-button big" type="submit" value="Submit">Save</button></span>
                        <div class="clearfix"></div>
                      </div>
                      <div class="message">
                        <p>
                          Thank you, infromation has been updated successfully.
                        </p>
                      </div>
                    </div>
                  </div>
             </form>
        </div>
        {% endblock %}

        <!-- Start featured_list block -->
       {% block featured_list %}
       {% endblock %}
       <!-- End featured_list block -->

      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->

    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
