static/portal/jade/req_new_service.jade
extends ../layout/main

append config
	- var Page = {title:"Request Proposal",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Request Proposal for New Service
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	.content-main.app_details
		.app_details_list_1
			h1.main_head Application Details
			.list_col_1
				+app_details_list_col_1([
						{'title': 'Company Name*', 'txt_box': 'Some text'},
						{'title': 'P.O. Box*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'},
						{'title': 'Website*', 'txt_box': 'Some text'},
						{'title': 'Website*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Contact name*', 'txt_box': 'Some text'}
						])
			.list_col_2
				+app_details_list_col_2([		
						{'title': 'Country*', 'txt_box': 'Some text'},
						{'title': 'Building*', 'txt_box': 'Some text'},
						{'title': 'Block*', 'txt_box': 'Some text', 'margin_btm':'yes'},
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text', 'margin_btm':'yes'},
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'}
						])
			.clearfix
	
		.app_details_list_2.add_block_margin
			h1.main_head Requested Service
			.select_requested_service
				.option
					input#radio1(type='radio', name='internet_service', value='Internet' checked)
					span.icon-radio51
					label Internet
				.option
					input#radio2(type='radio', name='data_service', value='Data')
					span.icon-circle6
					label Data
				.option
					input#radio3(type='radio', name='voice_service', value='Voice')
					span.icon-circle6
					label Voice
				.option
					input#radio4(type='radio', name='data_center', value='Data Center')
					span.icon-circle6
					label Data Center
				.clearfix

		.app_details_list_3.add_block_margin
			h1.main_head Type of internet Service
			.type_of_internet_service#internet_service1
				.option
					input#radio1(type='radio', name='dedicated_internet_service', value='Dedicated Internet Service' checked)
					span.icon-radio51
					label Dedicated Internet Service
				.option
					input#radio2(type='radio', name='broadband_internet_service', value='Broadband Internet Service')
					span.icon-circle6
					label Broadband Internet Service
				.clearfix

		.app_details_list_4.add_block_margin
			h1.main_head Dedicated Internet Connection Speed
			.connection_speed
				select.speed_selection.rm_select.cust_select
					option(value='option-1') Lorem Ipsum
					option(value='option-2') Lorem Ipsum
					option(value='option-3') Lorem Ipsum
					option(value='option-4') Lorem Ipsum

		.app_details_list_5
			h1.main_head Site Address
			.list_col_1
				+app_details_list_col_1([
						{'title': 'Site Name*', 'txt_box': 'Some text'},
						{'title': 'Flat*', 'txt_box': 'Some text'},
						{'title': 'Road / Avenue*', 'txt_box': 'Some text'},
						{'title': 'City*', 'txt_box*': 'Some text'}
					])

			.list_col_2
				+app_details_list_col_2([
						{'title': 'Country*', 'txt_box': 'Some text'},
						{'title': 'Building*', 'txt_box': 'Some text'},
						{'title': 'Block*', 'txt_box': 'Some text'}
					])
			.clearfix
			.list_5_txt_area.new_service_table
				.row_data
					.cell_data.new_service_title Remarks
					.cell_data.new_service_txt_box
						textarea.txt_box_border(name='remarks', placeholder="Enter details" value='' rows="6" cols="108")
					.clearfix

		.app_details_list_6.add_block_margin
			h1.main_head Type of internet Service
			.type_of_internet_service#internet_service2
				.option
					input#radio1(type='radio', name='dedicated_internet_service', value='Dedicated Internet Service' checked)
					span.icon-radio51
					label Dedicated Internet Service
				.option
					input#radio2(type='radio', name='broadband_internet_service', value='Broadband Internet Service')
					span.icon-circle6
					label Broadband Internet Service
				.clearfix

			.list_col_1
				+app_details_list_col_1([
						{'title': 'Contact Name*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'}
					])

			.list_col_2
				+app_details_list_col_2([
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'}
					])
			.clearfix

		.app_details_list_7.add_block_margin
			h1.main_head Additional Inforamtion / Comments
			textarea.add_comts.txt_box_border(name='remarks', placeholder="Enter details" value='' rows="6" cols="113")
		
		.app_details_list_8.add_block_margin
			fieldset
				.form-field.file
					label.field-container(for='resume')
						.ui-file.file-upload.icon-upload
							p
								span.title Upload your CV
								span.desc Please upload only doc, docx or pdf files.
								span.note Maximum file size 2MB
							p.button
								span.ui-button-secondary Browse
							input#resume.wpcf7-form-control.wpcf7-file(type='file', name='resume', value='1', size='40', aria-invalid='false')

		.app_details_list_9
			//.captcha
			.final_button
				.reset.button
					.ui-button-secondary Reset
				.submit.button
					.ui-button-secondary Submit Application
			.clearfix

	p.bottom_text
		| Thank you.Your request for the proposal has been sucessfully submited.
		br
		| One our commercial representative will contact you within two business days. Your refereneces number is 1234

templates/portal/req_new_service.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Request New Service{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block-->  
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        {% block content_main %}
        <div class="content-main">
          <div class="content">
            <h1>Request Proposal for New Service</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
        <div class="content-main app_details">
          <div class="app_details_list_1">
            <h1 class="main_head">Application Details</h1>
            <div class="list_col_1">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Company Name*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">P.O. Box*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Fax*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Website*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Website*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Mobile*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Email*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Email*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Mobile*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Contact name*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="list_col_2">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Country*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Building*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data make_space">
                          <div class="cell_data new_service_title">Block*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Telephone*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data make_space">
                          <div class="cell_data new_service_title">Fax*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Telephone*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Fax*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="app_details_list_2 add_block_margin">
            <h1 class="main_head">Requested Service</h1>
            <div class="select_requested_service">
              <div class="option">
                <input id="radio1" type="radio" name="internet_service" value="Internet" checked><span class="icon-radio51"></span>
                <label>Internet</label>
              </div>
              <div class="option">
                <input id="radio2" type="radio" name="data_service" value="Data"><span class="icon-circle6"></span>
                <label>Data</label>
              </div>
              <div class="option">
                <input id="radio3" type="radio" name="voice_service" value="Voice"><span class="icon-circle6"></span>
                <label>Voice</label>
              </div>
              <div class="option">
                <input id="radio4" type="radio" name="data_center" value="Data Center"><span class="icon-circle6"></span>
                <label>Data Center</label>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="app_details_list_3 add_block_margin">
            <h1 class="main_head">Type of internet Service</h1>
            <div id="internet_service1" class="type_of_internet_service">
              <div class="option">
                <input id="radio1" type="radio" name="dedicated_internet_service" value="Dedicated Internet Service" checked><span class="icon-radio51"></span>
                <label>Dedicated Internet Service</label>
              </div>
              <div class="option">
                <input id="radio2" type="radio" name="broadband_internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                <label>Broadband Internet Service</label>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="app_details_list_4 add_block_margin">
            <h1 class="main_head">Dedicated Internet Connection Speed</h1>
            <div class="connection_speed">
              <select class="speed_selection rm_select cust_select">
                <option value="option-1">Lorem Ipsum</option>
                <option value="option-2">Lorem Ipsum</option>
                <option value="option-3">Lorem Ipsum</option>
                <option value="option-4">Lorem Ipsum</option>
              </select>
            </div>
          </div>
          <div class="app_details_list_5">
            <h1 class="main_head">Site Address</h1>
            <div class="list_col_1">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Site Name*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Flat*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Road / Avenue*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">City*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="list_col_2">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Country*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Building*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Block*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="clearfix"></div>
            <div class="list_5_txt_area new_service_table">
              <div class="row_data">
                <div class="cell_data new_service_title">Remarks</div>
                <div class="cell_data new_service_txt_box">
                  <textarea name="remarks" placeholder="Enter details" value="" rows="6" cols="108" class="txt_box_border"></textarea>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="app_details_list_6 add_block_margin">
            <h1 class="main_head">Type of internet Service</h1>
            <div id="internet_service2" class="type_of_internet_service">
              <div class="option">
                <input id="radio1" type="radio" name="dedicated_internet_service" value="Dedicated Internet Service" checked><span class="icon-radio51"></span>
                <label>Dedicated Internet Service</label>
              </div>
              <div class="option">
                <input id="radio2" type="radio" name="broadband_internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                <label>Broadband Internet Service</label>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="list_col_1">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Contact Name*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Mobile*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Email*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="list_col_2">
                      <div class="table new_service_table">
                        <div class="row_data">
                          <div class="cell_data new_service_title">Telephone*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data new_service_title">Fax*</div>
                          <div class="cell_data new_service_txt_box">
                            <input type="text" placeholder="Enter details" value="" class="txt_box_border">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="app_details_list_7 add_block_margin">
            <h1 class="main_head">Additional Inforamtion / Comments</h1>
            <textarea name="remarks" placeholder="Enter details" value="" rows="6" cols="113" class="add_comts txt_box_border"></textarea>
          </div>
          <div class="app_details_list_8 add_block_margin">
            <fieldset>
              <div class="form-field file">
                <label for="resume" class="field-container">
                  <div class="ui-file file-upload icon-upload">
                    <p><span class="title">Upload your CV</span><span class="desc">Please upload only doc, docx or pdf files.</span><span class="note">Maximum file size 2MB</span></p>
                    <p class="button"><span class="ui-button-secondary">Browse</span></p>
                    <input id="resume" type="file" name="resume" value="1" size="40" aria-invalid="false" class="wpcf7-form-control wpcf7-file">
                  </div>
                </label>
              </div>
            </fieldset>
          </div>
          <div class="app_details_list_9">
            <!--.captcha-->
            <div class="final_button">
              <div class="reset button">
                <div class="ui-button-secondary">Reset</div>
              </div>
              <div class="submit button">
                <div class="ui-button-secondary">Submit Application</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <p class="bottom_text">Thank you.Your request for the proposal has been sucessfully submited.<br>One our commercial representative will contact you within two business days. Your refereneces number is 1234</p>
      </div>
      {% endblock %}

      <!-- Start quick_links block -->
      {% block quick_links %}
      {% endblock %}
      <!-- End quick_links block -->

      <!-- Start featured_list block -->
      {% block featured_list %}
      {% endblock %}
      <!-- End featured_list block -->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
