templates/portal/service_details.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Service Details{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block-->
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        {% block content_main %}
        <div class="content-main">
          <div class="content">
            <h1>Service Details</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
              Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
              Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
              Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
              Praesent non nunc suscipit, faucibus magna at, sodales eros.
            </p>
          </div>
          <div class="sd_table">
            <form>
              <div class="first_half">
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Service ID</div>
                          <div class="cell_data service_txt_box">{{sale_order.salesorder_no}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Service name</div>
                          <div class="cell_data service_txt_box">{{sale_order.subject}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Address A</div>
                          <div class="cell_data service_txt_box">{{sale_order.cf_926}} {{sale_order.cf_924}} {{sale_order.cf_920}} {{sale_order.cf_918}} {{sale_order.cf_916}} {{sale_order.cf_914}} {{sale_order.cf_912}} {{sale_order.cf_910}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Address B</div>
                          <div class="cell_data service_txt_box">{{sale_order.cf_946}} {{sale_order.cf_944}} {{sale_order.cf_940}} {{sale_order.cf_938}} {{sale_order.cf_936}} {{sale_order.cf_934}} {{sale_order.cf_932}} {{sale_order.cf_930}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Start date</div>
                          <div class="cell_data service_txt_box">{{sale_order.cf_966}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">End date</div>
                          <div class="cell_data service_txt_box"></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Status</div>
                          <div class="cell_data service_txt_box">{{sale_order.sostatus}}</div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Billing cycle</div>
                          <div class="cell_data service_txt_box"></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Latest invoice amount</div>
                          <div class="cell_data service_txt_box"></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Latest invoice status</div>
                          <div class="cell_data service_txt_box"></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row_data">
                          <div class="cell_data row_title service_title">Account Manager</div>
                          <div class="cell_data service_txt_box">{{account_manager.first_name}} {{account_manager.last_name}}</div>
                          <div class="clearfix"></div>
                        </div>
              </div>
              <div class="second_half">
                <div class="account-field">
                          <div class="table account-table">
                            <div class="row_data">
                              <div class="cell_data_acc row_title title">Technical contact</div>
                              <div class="cell_data_acc txt_box">
                                <input type="text" placeholder="Enter details" value="{{tech_contact.firstname}} {{tech_contact.lastname}}" disabled class="txt_box_border">
                              </div>
                              <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="row_data">
                              <div class="cell_data_acc row_title title">Billing contact</div>
                              <div class="cell_data_acc txt_box">
                                <input type="text" placeholder="Enter details" value="{{bill_contact.firstname}} {{bill_contact.lastname}}" disabled class="txt_box_border">
                              </div>
                              <div class="cell_data_acc icon_edit_save"><a href="javascript:void(0)" class="tbl_col_a rm_a"><span class="icon-pencil41"></span>Edit</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="submit_link add_contact"><a href="#">Add Contact</a></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
          <div class="div_9 box-shadow-bottom">
            <div class="button-wrapper">
              <div class="row_91">
                <div class="col_91 cell_9"><a href="/portal/service/usage/{{orderid}}/" class="ui-button big">View Usage</a></div>
                <div class="col_92 cell_9"><a href="/portal/service/invoice/{{orderid}}/" class="ui-button big">View Invoices</a></div>
                <div class="col_93 cell_9"><a href="/portal/service/payment/{{orderid}}/" class="ui-button big">Make Payments</a></div>
                <div class="clearfix"></div>
              </div>
              <div class="row_92">
                <div class="col_91 cell_9"><a href="/portal/service/subscribe/{{orderid}}/" class="ui-button big active">Change Subscription</a></div>
                <div class="col_92 cell_9"><a href="#" class="ui-button big">Report a Fault</a></div>
                <div class="col_93 cell_9"><a href="/portal/contactupdate/{{orderid}}/" class="ui-button big">Update Contacts</a></div>
                <div class="clearfix"></div>
              </div>
              <div class="row_93">
                <div class="col_91 cell_9"><a href="#" class="ui-button big">Schedule a Visit</a></div>
                <div class="col_92 cell_9"><a href="/portal/service/reset/{{orderid}}/" class="ui-button big">Reset Password</a></div>
                <div class="col_93 cell_9"><a href="#" class="ui-button big">View Escalation Matrix</a></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!--
          <div class="change_sub">
            <div class="content">
              <h1>Change Subscription</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                Praesent non nunc suscipit, faucibus magna at, sodales eros.
              </p>
            </div>
            <div class="select_service">
              <div class="select_internet_service">
                <form action="#">
                  <div class="option">
                    <input id="radio1" type="radio" name="internet_service" value="Dedicated Internet Service" checked><span class="icon-radio51"></span>
                    <label>Dedicated Internet Service</label><br>
                  </div>
                  <div class="option">
                    <input id="radio2" type="radio" name="internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                    <label>Broadband Internet Service</label><br>
                  </div>
                  <div class="option">
                    <input id="radio3" type="radio" name="internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                    <label>Broadband Internet Service</label><br>
                  </div>
                  <div class="option">
                    <input id="radio4" type="radio" name="internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                    <label>Broadband Internet Service</label><br>
                  </div>
                  <div class="option">
                    <input id="radio5" type="radio" name="internet_service" value="Broadband Internet Service"><span class="icon-circle6"></span>
                    <label>Broadband Internet Service</label><br>
                  </div>
                </form>
              </div>
              <div class="service_description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                  Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                  Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                  Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                  Praesent non nunc suscipit, faucibus magna at, sodales eros.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                  Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="confirm_wrapper">
              <div class="confirm">
                <p><a href="#" class="ui-button medium">Confirm</a></p>
              </div>
              <div class="space_btm"></div>
            </div>
          </div>
        --> 
        </div>
        {% endblock %}
        
        <!-- Start quick_links block -->
       {% block quick_links %}
       {% endblock %}
       <!-- End quick_links block -->

      <!-- Start featured_list block -->
       {% block featured_list %}
       {% endblock %}
       <!-- End featured_list block -->
      </div>
      <!-- End content main wrapper -->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>

static/portal/jade/service_details.jade
extends ../layout/main

append config
	- var Page = {title:"Service Details",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Service Details
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.

		.sd_table
			form
				.first_half
					+service_details_table1([
							{ 'title':'Service ID', 'value':'' },
							{ 'title':'Service name', 'value':'' },
							{ 'title':'Address A' , 'value':''},
							{ 'title':'Address B' , 'value':''},
							{ 'title':'Start date', 'value':'' },
							{ 'title':'End date', 'value':'' },
							{ 'title':'Status', 'value':'' },
							{ 'title':'Billing cycle', 'value':'' },
							{ 'title':'Latest invoice amount' , 'value':''},
							{ 'title':'Latest invoice status', 'value':'' },
							{ 'title':'Account Manager', 'value':'' },
						])

				.second_half
					.account-field
						+acc_tbl([
							{'title': 'Technical contact', 'txt_box': '', 'btn':'Edit'	},
							{'title': 'Billing contact', 'txt_box': '', 'btn':'Edit'	}
						])
				.clearfix


		.div_9.box-shadow-bottom
			.button-wrapper
				.row_91
					.col_91.cell_9
						a.ui-button.big(href='#') View Usage
					.col_92.cell_9
						a.ui-button.big(href='#') View Invoices
					.col_93.cell_9
						a.ui-button.big(href='#') Make Payments
					.clearfix
				.row_92
					.col_91.cell_9
						a.ui-button.big.active(href='#') Change Subscription
					.col_92.cell_9
						a.ui-button.big(href='#') Report a Fault
					.col_93.cell_9
						a.ui-button.big(href='#') Update Contacts
					.clearfix
				.row_93
					.col_91.cell_9
						a.ui-button.big(href='#') Schedule a Visit
					.col_92.cell_9
						a.ui-button.big(href='#') Reset Password
					.col_93.cell_9
						a.ui-button.big(href='#') View Escalation Matrix
					.clearfix

		.change_sub
			.content
				h1 Change Subscription
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
					| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
					| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
					| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
					| Praesent non nunc suscipit, faucibus magna at, sodales eros.

			.select_service
				.select_internet_service
					form(action='#')
						.option
							input#radio1(type='radio', name='internet_service', value='Dedicated Internet Service' checked)
							span.icon-radio51
							label Dedicated Internet Service
							br
						.option
							input#radio2(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio3(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio4(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio5(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br

				.service_description
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
						| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
						| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
						| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
						| Praesent non nunc suscipit, faucibus magna at, sodales eros.

					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
						| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut.
				.clearfix
			.confirm_wrapper
				.confirm
					p
						a.ui-button.medium(href='#') Confirm
				.space_btm
