static/portal/jade/transaction_history.jade
extends ../layout/main

append config
	- var Page = {title:"Transaction History",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main.history
		.content
			h1 Transaction History
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.

		.history_table
			+invoice_history_table([
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' }
				])

			+payment_history_table([
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' }
				])

	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])

templates/portal/transaction_history.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Transaction History{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        <div class="content-main history">
         {% block content_section %}
          <div class="content">
            <h1>Transaction History</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
              Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
              Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
              Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
              Praesent non nunc suscipit, faucibus magna at, sodales eros.
            </p>
          </div>
          <div class="history_table">
                    <div class="invoice_history">
                      <h1>Invoice History</h1>
                      <div class="row_head">
                        <div class="cell_head receipt_id">
                          <select class="rm_select">
                            <option value="receipt_id">Receipt ID</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head description">
                          <select class="rm_select">
                            <option value="description">Description</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head amt_paid">
                          <select class="rm_select">
                            <option value="amount_paid">Amount Paid</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head date">
                          <select class="rm_select">
                            <option value="date">Date</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head view_invoice">Action</div>
                      </div>
                      {% for inv in invoice %}
                      <div class="row_data">
                        <div class="cell_data receipt_id">{{inv.invoice_no}}</div>
                        <div class="cell_data description">{{inv.subject}}</div>
                        <div class="cell_data amt_paid">BHD {{inv.balance|floatformat:2}}</div>
                        <div class="cell_data date">{{inv.duedate}}</div>
                        <div class="cell_data view_history view_invoice">
                          <a target="_blank" href="/portal/invoice/{{inv.id}}/"><span class="icon-printed7"></span>View Invoice</a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      {% endfor %}
                      <div class="submit_link load_more"><a href="#">Load more<span>5 items</span></a></div>
                    </div>
                    <div class="payment_history">
                      <h1>Payment History</h1>
                      <div class="row_head">
                        <div class="cell_head receipt_id">
                          <select class="rm_select">
                            <option value="receipt_id">Receipt ID</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head description">
                          <select class="rm_select">
                            <option value="description">Description</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head amt_paid">
                          <select class="rm_select">
                            <option value="amount_paid">Amount Paid</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head date">
                          <select class="rm_select">
                            <option value="date">Date</option>
                            <option value="selection_1">Selection 1</option>
                            <option value="selection_2">Selection 2</option>
                            <option value="selection_3">Selection 3</option>
                          </select>
                        </div>
                        <div class="cell_head view_invoice">Action</div>
                      </div>
                      {% for txn in transaction %}
                      <div class="row_data">
                        <div class="cell_data receipt_id">{{txn.id}}</div>
                        <div class="cell_data description">{{txn.subject}}</div>
                        <div class="cell_data amt_paid">BHD {{txn.amountpaid|floatformat:2}}</div>
                        <div class="cell_data date">{{txn.paymentdate}}</div>
                        <div class="cell_data view_history view_receipt"><a href="#"><span class="icon-printed7"></span>View Invoice</a></div>
                        <div class="clearfix"></div>
                      </div>
                      {% endfor %}
                      <div class="submit_link load_more"><a href="#">Load more<span>5 items</span></a></div>
                    </div>
          </div>
        </div>
         {% endblock %}

         <!-- Start quick_links block -->
        {% block quick_links %}
        {% endblock %}
        <!-- End quick_links block -->

         <!-- Start featured_list block -->
         <!-- End featured_list block -->
      </div>
      <!-- End content main wrapper-->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start scripts include-->
    <!-- build:js assets/js/vendor.js-->
  </body>
</html>
