static/portal/jade/usage_summary.jade
extends ../layout/main

append config
	- var Page = {title:"Usage Summary",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	// Breadcrum //Start
	.breadcrum-wrapper.clearfix
		span.item
			a(href='#') Level1
		span.separator
		span.item
			a(href='#') Level2
		span.separator
		span.item
			a(href='#') Level3
		span.separator
		span.item Level4
	// Breadcrum //End	

	.content-main
		.content.summary_content
			h1 Usage Summary
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

	.content-main
		.content.summary_row
			.summary_content_row1
				.summary_detail
					span.service_key(style='padding-right:35px') Service ID
					span.service_value XX-0123-ABC
				.summary_detail
					span.service_key Service name
					span.service_value Dedicated Internet
			.summary_content_row2
				span.lbl View last
				span
					a.view_last_btn.rm_a.active(href='#') 24 Hours
					a.view_last_btn.rm_a(href='#') 7 days
					a.view_last_btn.rm_a(href='#') 30 days
				span.lbl1 Search by date
				span.from_to
					| from
					input.datepicker.txt_box_border#from(type='text')
					| to
					input.datepicker.txt_box_border#to(type='text')
					a.icon-right154(href='#')
			.summary_content_row3
				canvas#usage(width='1120', height='670')
				script(type='text/javascript').
					var graphValue = {

						labels: [ "April","May","June","July","August"],
						datasets: [{
						label: "My First dataset",
						fillColor: "rgba(192, 192, 192, 0.8)",
						strokeColor: "rgba(220,220,220,0)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(220,220,220,1)",
						data: [1.7, 0.8, 1.5, 0.6, 1]
					},
					{
						label: "My Second dataset",
						fillColor: "rgba(165,165,165,0.5)",
						strokeColor: "rgba(220,220,220,0)",
						pointColor: "rgba(151,187,205,1)",
						pointStrokeColor: "#fff",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(151,187,205,1)",
						data: [2.8, 2.3, 1.5, 1.3, 2.5]

					}
					]
					};


				.graph_option
					.graph_option_content
						.service.select_option
							input.hide(type="checkbox")
							span.chkbox_icon.icon-square93
							span.value Service
						.quota.select_option
							input.hide(type="checkbox")
							span.chkbox_icon.icon-square93
							span.value Quota

	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])

templates/portal/usage_summary.html
{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
   <!-- Start title block -->
    <title>{% block title %}Usage Summary{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->
      
      <div class="content-main-wrapper">

        {% block breadcrumb %}
        <!-- Breadcrum //Start-->
        <div class="breadcrum-wrapper clearfix"><span class="item"><a href="#">Level1</a></span><span class="separator"></span><span class="item"><a href="#">Level2</a></span><span class="separator"></span><span class="item"><a href="#">Level3</a></span><span class="separator"></span><span class="item">Level4</span></div>
        <!-- Breadcrum //End	-->
        {% endblock %}
        
        {% block content_main %}
        <div class="content-main">
          <div class="content summary_content">
            <h1>Usage Summary</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>
        <div class="content-main">
          <div class="content summary_row">
            <div class="summary_content_row1">
              <div class="summary_detail"><span style="padding-right:35px" class="service_key">Service ID</span><span class="service_value">XX-0123-ABC</span></div>
              <div class="summary_detail"><span class="service_key">Service name</span><span class="service_value">Dedicated Internet</span></div>
            </div>
            <div class="summary_content_row2"><span class="lbl">View last</span><span><a href="#" class="view_last_btn rm_a active">24 Hours</a><a href="#" class="view_last_btn rm_a">7 days</a><a href="#" class="view_last_btn rm_a">30 days</a></span><span class="lbl1">Search by date</span><span class="from_to">from
                <input id="from" type="text" class="datepicker txt_box_border">to
                <input id="to" type="text" class="datepicker txt_box_border"><a href="#" class="icon-right154"></a></span></div>
            <div class="summary_content_row3">
              <canvas id="usage" width="1120" height="670"></canvas>
              <script type="text/javascript">
                var graphValue = {
                
                	labels: [ "April","May","June","July","August"],
                	datasets: [{
                	label: "My First dataset",
                	fillColor: "rgba(192, 192, 192, 0.8)",
                	strokeColor: "rgba(220,220,220,0)",
                	pointColor: "rgba(220,220,220,1)",
                	pointStrokeColor: "#fff",
                	pointHighlightFill: "#fff",
                	pointHighlightStroke: "rgba(220,220,220,1)",
                	data: [1.7, 0.8, 1.5, 0.6, 1]
                },
                {
                	label: "My Second dataset",
                	fillColor: "rgba(165,165,165,0.5)",
                	strokeColor: "rgba(220,220,220,0)",
                	pointColor: "rgba(151,187,205,1)",
                	pointStrokeColor: "#fff",
                	pointHighlightFill: "#fff",
                	pointHighlightStroke: "rgba(151,187,205,1)",
                	data: [2.8, 2.3, 1.5, 1.3, 2.5]
                
                }
                ]
                };
                
                
              </script>
              <div class="graph_option">
                <div class="graph_option_content">
                  <div class="service select_option">
                    <input type="checkbox" class="hide"><span class="chkbox_icon icon-square93"></span><span class="value">Service</span>
                  </div>
                  <div class="quota select_option">
                    <input type="checkbox" class="hide"><span class="chkbox_icon icon-square93"></span><span class="value">Quota</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %} 
        
        {% block quick_links %}
        {% endblock %}


        <!-- Start featured_list block -->
        <!-- End featred_list block -->
         
      </div>
      <!-- End content main wrapper -->

      <!-- Start footer_main block -->
      <!-- End footer_main block -->
      
    </div>
    <!-- End .master-->
    
    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
